@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #01161e;
  color: #43aa8b;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 80%;
  grid-template-rows: 20% 80%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__title {
  width: 100vw;
  text-align: center;
  font-size: 2rem;
}

.nav__item,
.nav__item--active {
  color: #ef3e36;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}

.nav__item:hover,
.nav__item--active:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100vw;
}

.nav__item--active {
  font-weight: bolder;
}

.nav__item--active::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 1%;
  width: 10px;
  height: 10px;
  background-color: #ef3e36;
}

.joke {
  width: 100%;
  background-color: #01161e;
  -webkit-box-shadow: -6px -6px 6px rgba(255, 255, 255, 0.03),
    6px 6px 6px rgba(0, 0, 0, 0.3);
  box-shadow: -6px -6px 6px rgba(255, 255, 255, 0.03),
    6px 6px 6px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.joke__content {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1rem;
  text-shadow: -3px 3px 0px black;
}

.joke__stats,
.joke__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 1rem;
}

.btn {
  background: none;
  border: none;
  background-color: #0e66b8;
  color: black;
  padding: 5px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px #0e66b8;
  box-shadow: 0px 0px 30px 0px #0e66b8;
  cursor: pointer;
  -webkit-transition: 500ms;
  transition: 500ms;
  margin: 2rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn--disabled {
  background: none;
  border: none;
  color: black;
  padding: 5px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px #0e66b8;
  box-shadow: 0px 0px 30px 0px #0e66b8;
  cursor: pointer;
  -webkit-transition: 500ms;
  transition: 500ms;
  background-color: rgb(155, 153, 153);
  margin: 2rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 50%;
  }
}
